SUPABASE_URL=https://bgdtsjtmwhpxevmtsrnb.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJnZHRzanRtd2hweGV2bXRzcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjEyNzYwMiwiZXhwIjoyMDk3NzAzNjAyfQ.blMvtiuskc0Xvl0Ba-4pwyszFbONS_KYTA-ZfUVitYk
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJnZHRzanRtd2hweGV2bXRzcm5iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIxMjc2MDIsImV4cCI6MjA5NzcwMzYwMn0.fN4ubWU19H1i9qU2P6H-DV7kYu7qqefyUyP92n4k9_4
CLIENT_URL=http://localhost:5173
NODE_ENV=development
PORT=5000
STRIPE_SECRET_KEY=your-stripe-secret-key
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
